[submodule "data"]
	path = data
	url = https://github.com/libogonek/unicode-data.git
[submodule "deps/catch"]
	path = deps/catch
	url = https://github.com/philsquared/Catch.git
[submodule "deps/range-v3"]
	path = deps/range-v3
	url = https://github.com/ericniebler/range-v3.git
