[submodule "tools/vallus"]
	path = tools/vallus
	url = https://github.com/rmartinho/vallus
[submodule "data"]
	path = data
	url = https://github.com/libogonek/unicode-data.git
[submodule "deps/range-v3"]
	path = deps/range-v3
	url = https://github.com/ericniebler/range-v3
