      <footer>
        <p><small><a href="https://github.com/rmartinho/ogonek">Source code</a> available on GitHub.</small></p>
        <p><small>This documentation applies to version
            <a href="https://github.com/rmartinho/ogonek/releases/tag/v{{ site.doc_version }}">{{ site.doc_version}}</a>.</small></p>
        <p><small>Project maintained by <a href="https://github.com/rmartinho">R. Martinho Fernandes</a></small></p>
        <p><small>Logo by <a href="https://github.com/bananu7">bananu7</a>, based on ideas by <a href="https://bitbucket.org/piotrlegnica">Cat Plus Plus</a>.</small></p>
      </footer>
