      <header>
        <h1>Ogonek</h1>
        <p>A C++11 library for Unicode</p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/reading.html">Reading the manual</a></li>
            <li><a href="/fundamental.html">Fundamentals</a></li>
            <li><a href="/properties.html">Properties</a></li>
            <li><a href="/text.html">Text</a></li>
            <li><a href="/error.html">Error handling</a></li>
            <li><a href="/encoding.html">Encoding</a></li>
            <li><a href="/normalization.html">Normalization</a></li>
            <li><a href="/segmentation.html">Segmentation</a></li>
        </ul>
      </header>
