      <header>
        <h1>Ogonek</h1>
        <p>A C++11 library for Unicode</p>
        <ul>
            <li><a href="/ogonek">Home</a></li>
            <li><a href="/ogonek/reading.html">Reading the manual</a></li>
            <li><a href="/ogonek/fundamental.html">Fundamentals</a></li>
            <li><a href="/ogonek/text.html">Text</a></li>
            <li><a href="/ogonek/validation.html">Validation</a></li>
            <li><a href="/ogonek/encoding.html">Encoding</a></li>
            <li><a href="/ogonek/segmentation.html">Segmentation</a></li>
            <li><a href="/ogonek/normalization.html">Normalization</a></li>
        </ul>
      </header>
